@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans:wght@500&family=Roboto&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  

  --color-bg: #fff;
  --color-text: #040C18;
  --color-subtext: #8797a6ef;
  --color-hover: #FF8A71;
}